<footer class="footer">

	<div class="footer-wrap">
		
		<div class="social__col__1">
			<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>
			<a class="footer__text"href="mailto:christopher.a.okonkwo@gmail.com">christopher.a.okonkwo@gmail.com</a>
		</div>
		<div class="social__col__2">
				<a href="https://crisokonkwo.github.io">
					<svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#github"></use></svg>
				</a>
				<a href="https://www.linkedin.com/in/christopher-okonkwo/">
					<svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#linkedin"></use></svg>
				</a>
		</div>
	</div>

</footer>